<a href="https://colab.research.google.com/github/roy-shreya/Used-Car-Price-Prediction/blob/main/ML.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import seaborn as sns
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import sklearn as sk
from google.colab import files
from sklearn.preprocessing import LabelEncoder

In [2]:
uploaded = files.upload()

Saving Data_Test.csv to Data_Test.csv
Saving Data_Train.csv to Data_Train.csv

In [3]:
ctrd=pd.read_csv("Data_Train.csv",encoding='latin1', error_bad_lines=False, warn_bad_lines=False)
ctd=pd.read_csv("Data_Test.csv", encoding='latin1', error_bad_lines=False, warn_bad_lines=False)

In [4]:
ctrd.head()

                               Name    Location  Year  ...  Seats  New_Price  Price
0            Maruti Wagon R LXI CNG      Mumbai  2010  ...    5.0        NaN   1.75
1  Hyundai Creta 1.6 CRDi SX Option        Pune  2015  ...    5.0        NaN  12.50
2                      Honda Jazz V     Chennai  2011  ...    5.0  8.61 Lakh   4.50
3                 Maruti Ertiga VDI     Chennai  2012  ...    7.0        NaN   6.00
4   Audi A4 New 2.0 TDI Multitronic  Coimbatore  2013  ...    5.0        NaN  17.74

[5 rows x 13 columns]

In [5]:
ctd.head()

                                        Name    Location  ...  Seats   New_Price
0                    Maruti Alto K10 LXI CNG       Delhi  ...    4.0         NaN
1              Maruti Alto 800 2016-2019 LXI  Coimbatore  ...    5.0         NaN
2  Toyota Innova Crysta Touring Sport 2.4 MT      Mumbai  ...    7.0  25.27 Lakh
3                       Toyota Etios Liva GD   Hyderabad  ...    5.0         NaN
4                          Hyundai i20 Magna      Mumbai  ...    5.0         NaN

[5 rows x 12 columns]

In [6]:
ctrd['Price'].describe()

count    6019.000000
mean        9.479468
std        11.187917
min         0.440000
25%         3.500000
50%         5.640000
75%         9.950000
max       160.000000
Name: Price, dtype: float64

In [7]:
ctrd.isnull().sum()

Name                    0
Location                0
Year                    0
Kilometers_Driven       0
Fuel_Type               0
Transmission            0
Owner_Type              0
Mileage                 2
Engine                 36
Power                  36
Seats                  42
New_Price            5195
Price                   0
dtype: int64

In [8]:
ctd.isnull().sum()

Name                    0
Location                0
Year                    0
Kilometers_Driven       0
Fuel_Type               0
Transmission            0
Owner_Type              0
Mileage                 0
Engine                 10
Power                  10
Seats                  11
New_Price            1052
dtype: int64

In [9]:
ctd[ctd['Power']=='null bhp']['Power'].count()

22

In [10]:
ctrd[ctrd['Power']=='null bhp']['Power'].count()

107

In [11]:
ctrd['Power']=ctrd['Power'].replace(to_replace="[null]" , value = np.NaN , regex = True)
ctd['Power']=ctd['Power'].replace(to_replace="[null]" , value = np.NaN , regex = True)
ctrd.isnull().sum()

Name                    0
Location                0
Year                    0
Kilometers_Driven       0
Fuel_Type               0
Transmission            0
Owner_Type              0
Mileage                 2
Engine                 36
Power                 143
Seats                  42
New_Price            5195
Price                   0
dtype: int64

In [12]:
ctd.isnull().sum()

Name                    0
Location                0
Year                    0
Kilometers_Driven       0
Fuel_Type               0
Transmission            0
Owner_Type              0
Mileage                 0
Engine                 10
Power                  32
Seats                  11
New_Price            1052
dtype: int64

In [13]:
ctrd['Mileage'].fillna(ctrd['Mileage'].mode()[0] , inplace = True)
ctrd['Engine'].fillna(ctrd['Engine'].mode()[0] , inplace = True)
ctrd['Power'].fillna(ctrd['Power'].mode()[0] , inplace = True)
ctrd['Seats'].fillna(ctrd['Seats'].mode()[0] , inplace = True)
ctrd.isnull().sum()

Name                    0
Location                0
Year                    0
Kilometers_Driven       0
Fuel_Type               0
Transmission            0
Owner_Type              0
Mileage                 0
Engine                  0
Power                   0
Seats                   0
New_Price            5195
Price                   0
dtype: int64

In [14]:
ctd['Engine'].fillna(ctd['Engine'].mode()[0] , inplace = True)
ctd['Power'].fillna(ctd['Power'].mode()[0] , inplace = True)
ctd['Seats'].fillna(ctd['Seats'].mode()[0] , inplace = True)
ctd.isnull().sum()

Name                    0
Location                0
Year                    0
Kilometers_Driven       0
Fuel_Type               0
Transmission            0
Owner_Type              0
Mileage                 0
Engine                  0
Power                   0
Seats                   0
New_Price            1052
dtype: int64

In [15]:
ctrd['Mileage'] = ctrd['Mileage'].str.split(" " , expand = True)
ctrd['Mileage'] = ctrd['Mileage'].astype("float")
ctrd['Engine'] = ctrd['Engine'].str.split(" " , expand = True)
ctrd['Engine'] = ctrd['Engine'].astype("float")
ctrd['Power'] = ctrd['Power'].str.split(" " , expand = True)
ctrd['Power'] = ctrd['Power'].astype("float")
ctrd

                                  Name    Location  ...  New_Price  Price
0               Maruti Wagon R LXI CNG      Mumbai  ...        NaN   1.75
1     Hyundai Creta 1.6 CRDi SX Option        Pune  ...        NaN  12.50
2                         Honda Jazz V     Chennai  ...  8.61 Lakh   4.50
3                    Maruti Ertiga VDI     Chennai  ...        NaN   6.00
4      Audi A4 New 2.0 TDI Multitronic  Coimbatore  ...        NaN  17.74
...                                ...         ...  ...        ...    ...
6014                  Maruti Swift VDI       Delhi  ...  7.88 Lakh   4.75
6015          Hyundai Xcent 1.1 CRDi S      Jaipur  ...        NaN   4.00
6016             Mahindra Xylo D4 BSIV      Jaipur  ...        NaN   2.90
6017                Maruti Wagon R VXI     Kolkata  ...        NaN   2.65
6018             Chevrolet Beat Diesel   Hyderabad  ...        NaN   2.50

[6019 rows x 13 columns]

In [16]:
ctd['Mileage'] = ctd['Mileage'].str.split(" " , expand = True)
ctd['Mileage'] = ctd['Mileage'].astype("float")
ctd['Engine'] = ctd['Engine'].str.split(" " , expand = True)
ctd['Engine'] = ctd['Engine'].astype("float")
ctd['Power'] = ctd['Power'].str.split(" " , expand = True)
ctd['Power'] = ctd['Power'].astype("float")
ctd

                                                   Name  ...   New_Price
0                               Maruti Alto K10 LXI CNG  ...         NaN
1                         Maruti Alto 800 2016-2019 LXI  ...         NaN
2             Toyota Innova Crysta Touring Sport 2.4 MT  ...  25.27 Lakh
3                                  Toyota Etios Liva GD  ...         NaN
4                                     Hyundai i20 Magna  ...         NaN
...                                                 ...  ...         ...
1229                  Volkswagen Vento Diesel Trendline  ...         NaN
1230                             Volkswagen Polo GT TSI  ...         NaN
1231                             Nissan Micra Diesel XV  ...         NaN
1232                             Volkswagen Polo GT TSI  ...         NaN
1233  Mercedes-Benz E-Class 2009-2013 E 220 CDI Avan...  ...         NaN

[1234 rows x 12 columns]

In [17]:
ctrd['Brand']=ctrd['Name'].str.split(" ",2)
x=pd.DataFrame(ctrd['Brand'])
ctrd['Brand']=x['Brand'].str.get(0)
ctrd['Model']=x['Brand'].str.get(1)
print("No. of Brands after Reduction :",str(len(ctrd['Brand'].unique())))
print("No. of Model after Reduction :",str(len(ctrd['Model'].unique())))

No. of Brands after Reduction : 31
No. of Model after Reduction : 212

In [18]:
print(ctrd['Brand'].unique())
print(ctrd['Model'].unique())

['Maruti' 'Hyundai' 'Honda' 'Audi' 'Nissan' 'Toyota' 'Volkswagen' 'Tata'
 'Land' 'Mitsubishi' 'Renault' 'Mercedes-Benz' 'BMW' 'Mahindra' 'Ford'
 'Porsche' 'Datsun' 'Jaguar' 'Volvo' 'Chevrolet' 'Skoda' 'Mini' 'Fiat'
 'Jeep' 'Smart' 'Ambassador' 'Isuzu' 'ISUZU' 'Force' 'Bentley'
 'Lamborghini']
['Wagon' 'Creta' 'Jazz' 'Ertiga' 'A4' 'EON' 'Micra' 'Innova' 'Vento'
 'Indica' 'Ciaz' 'City' 'Swift' 'Rover' 'Pajero' 'Amaze' 'Duster' 'New'
 '3' 'S' 'A6' 'i20' 'Alto' 'WRV' 'Corolla' 'Ssangyong' 'Vitara' 'KUV'
 'M-Class' 'Polo' 'Nano' 'Elantra' 'Xcent' 'Thar' 'Grand' 'KWID' 'i10'
 'X-Trail' 'Zen' 'Figo' 'C-Class' 'Cayenne' 'XUV500' 'Terrano' 'Brio'
 'Fiesta' 'Santro' 'Zest' 'Ritz' '5' 'Fortuner' 'Ecosport' 'Verna' 'GO'
 'Omni' 'Etios' 'XF' 'Eeco' 'Civic' 'V40' 'B' 'Scorpio' 'CR-V' 'SLC' '1'
 'Beat' 'Rapid' 'RS5' 'Superb' 'X5' 'GLC' 'Countryman' 'Optra' 'Lodgy'
 'E-Class' 'Baleno' 'Laura' 'NuvoSport' 'Fabia' 'Indigo' 'Q3' 'Octavia'
 'A8' 'Verito' 'Cooper' 'Santa' 'X1' 'Accent' 'Tucson' 'GLE' 'A-Star'
 'Grande' 'X3' 'EcoSport' 'Q7' 'Jetta' 'GLA' 'Celerio' 'Sumo' 'Accord' '6'
 'Manza' 'Spark' 'Clubman' 'Teana' '800' 'BRV' 'XE' 'Xenon' 'A3'
 'GL-Class' 'BR-V' 'S80' 'Captur' 'Enjoy' 'Bolero' 'Q5' 'Cedia' 'S-Cross'
 'Yeti' 'Endeavour' 'GLS' 'A' 'SX4' 'Camry' 'Mobilio' 'Linea' 'TT'
 'Renault' 'Compass' 'Ikon' 'Sail' 'Quanto' 'Aveo' 'Xylo' 'Esteem'
 'Safari' 'Ignis' 'XJ' 'Sunny' 'SLK-Class' 'Passat' 'Dzire' 'Cruze'
 'Koleos' 'Qualis' 'Ameo' 'redi-GO' 'Fortwo' 'Outlander' 'Cayman' 'CLA'
 'XC60' 'Boxster' 'XUV300' 'Hexa' 'Tiago' '7' 'Avventura' 'Tigor' 'S60'
 'Classic' 'Beetle' 'Petra' 'Getz' 'A7' 'Elite' 'Aspire' 'Tiguan'
 'Captiva' 'Punto' 'TUV' 'X6' 'Bolt' 'Evalia' 'Scala' 'Jeep' 'Sonata'
 'Freestyle' 'Logan' 'Tavera' 'Estilo' 'XC90' 'Pulse' 'Montero' 'Panamera'
 'CrossPolo' 'Fluence' 'Venture' 'Nexon' 'MUX' 'Platinum' 'R-Class'
 'CLS-Class' 'D-MAX' 'S-Class' 'Lancer' 'Redi' 'E' 'Mustang' 'Fusion'
 'Siena' '1000' 'SL-Class' 'Z4' 'Prius' 'One' 'Versa' 'WR-V' 'Continental'
 'Gallardo' 'F']

In [19]:
ctrd.Brand[ctrd.Brand == 'Isuzu'] = 'ISUZU'

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [20]:
ctd['Brand']=ctd['Name'].str.split(" ",2)
x=pd.DataFrame(ctd['Brand'])
ctd['Brand']=x['Brand'].str.get(0)
ctd['Model']=x['Brand'].str.get(1)
ctd.head()

                                        Name    Location  ...    Brand   Model
0                    Maruti Alto K10 LXI CNG       Delhi  ...   Maruti    Alto
1              Maruti Alto 800 2016-2019 LXI  Coimbatore  ...   Maruti    Alto
2  Toyota Innova Crysta Touring Sport 2.4 MT      Mumbai  ...   Toyota  Innova
3                       Toyota Etios Liva GD   Hyderabad  ...   Toyota   Etios
4                          Hyundai i20 Magna      Mumbai  ...  Hyundai     i20

[5 rows x 14 columns]

In [21]:
ctd.drop('New_Price', inplace = True , axis =1)
ctrd.drop('New_Price', inplace = True , axis =1)

In [ ]:
sns.pairplot(ctrd)

In [ ]:
sns.distplot(ctrd['Price'])
print("Skewness: %f" % ctrd['Price'].skew())
print("Kurtosis: %f" % ctrd['Price'].kurt())

In [ ]:
attrib = 'Mileage'
data = pd.concat([ctrd['Price'], ctrd[attrib]], axis=1)
data.plot.scatter(x=attrib, y='Price');

In [ ]:
attrib = 'Year'
data = pd.concat([ctrd['Price'], ctrd[attrib]], axis=1)
f, ax = plt.subplots(figsize=(15, 7))
fig = sns.boxplot(x=attrib, y="Price", data=data)

In [ ]:
attrib = 'Kilometers_Driven'
data = pd.concat([ctrd['Price'], ctrd[attrib]], axis=1)
data.plot.scatter(x=attrib, y='Price');

In [ ]:
attrib = "Brand"
plt.figure(figsize=(27, 13))
sns.catplot(x=attrib, kind="count", palette="ch:0.175", height=8, aspect=2, data=ctrd);
plt.xticks(rotation=90)

In [ ]:
attrib = 'Owner_Type'
f, ax = plt.subplots()
f.set_size_inches(10, 6)
sns.stripplot(x = attrib, y ='Price', data = ctrd)

In [ ]:
attrib =  'Owner_Type'
ctrd[attrib].value_counts()

In [ ]:
attrib = 'Fuel_Type'
data = pd.concat([ctrd['Price'], ctrd[attrib]], axis=1)
f, ax = plt.subplots(figsize=(15, 10))
fig = sns.boxplot(x=attrib, y="Price", data=data)

In [ ]:
attrib = 'Location'
sns.catplot(y='Price',x=attrib,data= ctrd.sort_values('Price',ascending=False),kind="boxen",height=5, aspect=2)
plt.show

In [ ]:
train = ctrd.loc[:, ctrd.columns.isin(['Location', 'Year', 'Kilometers_Driven', 'Fuel_Type','Transmission', 'Owner_Type', 'Brand','Model'])]
trainp = ctrd['Price']
ec1 = pd.get_dummies(train['Location'],prefix='Location')
train = train.drop('Location',axis = 1)
train=train.join(ec1)
ec2 = pd.get_dummies(train['Fuel_Type'],prefix='Fuel')
train = train.drop('Fuel_Type',axis = 1)
train=train.join(ec2)
ec3 = pd.get_dummies(train['Owner_Type'],prefix='Owner')
train = train.drop('Owner_Type',axis = 1)
train=train.join(ec3)
ec2 = pd.get_dummies(train['Transmission'])
train = train.drop('Transmission',axis = 1)
train=train.join(ec2)
train.head()

In [ ]:
train['Year']=train['Year'].apply(lambda x: 2021-x)
le = LabelEncoder()
train["Brand"] = le.fit_transform(train["Brand"])
train["Model"] = le.fit_transform(train["Model"])
train.head()

In [ ]:
trainp.head()

In [ ]:
from sklearn.feature_selection import SelectKBest
from sklearn.feature_selection import chi2
x=train.astype('int')
y=trainp.astype('int')
bestfeatures = SelectKBest(score_func=chi2, k='all')
fit = bestfeatures.fit(x,y)
dfscores = pd.DataFrame(fit.scores_)
dfcolumns = pd.DataFrame(x.columns)
featureScores = pd.concat([dfcolumns,dfscores],axis=1)
featureScores.columns = ['Specs','Score']
print(featureScores.nlargest(100,'Score'))

In [ ]:
test = ctd.loc[:, ctd.columns.isin(['Location', 'Year', 'Kilometers_Driven', 'Fuel_Type','Transmission', 'Owner_Type', 'Brand','Model'])]
ec1 = pd.get_dummies(test['Location'],prefix='Location')
test = test.drop('Location',axis = 1)
test=test.join(ec1)
ec2 = pd.get_dummies(test['Fuel_Type'],prefix='Fuel')
test = test.drop('Fuel_Type',axis = 1)
test=test.join(ec2)
ec3 = pd.get_dummies(test['Owner_Type'],prefix='Owner')
test = test.drop('Owner_Type',axis = 1)
test=test.join(ec3)
ec2 = pd.get_dummies(test['Transmission'])
test = test.drop('Transmission',axis = 1)
test=test.join(ec2)
test.head()

In [ ]:
test['Year']=test['Year'].apply(lambda x: 2021-x)
le = LabelEncoder()
test["Brand"] = le.fit_transform(test["Brand"])
test["Model"] = le.fit_transform(test["Model"])
test.head()

In [ ]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(train, trainp, test_size = 0.2)

X_train.info()

In [ ]:
#Linear Reg
from sklearn.linear_model import LinearRegression
linear_reg = LinearRegression()
linear_reg.fit(X_train, y_train)
y_pred= linear_reg.predict(X_test)
print("Accuracy-Training : ",linear_reg.score(X_train,y_train))
print("Accuracy-Testing : ",linear_reg.score(X_test,y_test))
print("Accuracy :",linear_reg.score(X_test,y_test)*100,'%')

In [ ]:
#Visualisation of Linear Regression Model
plt.scatter(y_test, y_pred)
plt.xlabel("Actual Price")
plt.ylabel("Predicted Price")
plt.title("Actual Price vs Predicted Price using Linear Regressor")
plt.show()

In [ ]:
import pickle
pickle.dump(linear_reg,open('lr.pkl','wb'))
model=pickle.load(open('lr.pkl','rb'))

In [ ]:
#Random Forest Reg
from sklearn.ensemble import RandomForestRegressor
rf_reg = RandomForestRegressor(n_estimators = 100, random_state = 0)
rf_reg.fit(X_train, y_train)
y_pred= rf_reg.predict(X_test)
print("Accuracy on Traing set: ",rf_reg.score(X_train,y_train))
print("Accuracy on Testing set: ",rf_reg.score(X_test,y_test))
print("Accuracy :",rf_reg.score(X_test,y_test)*100,'%')

In [ ]:
#Visualisation of Random Forest Regressor Model
plt.scatter(y_test, y_pred)
plt.xlabel("Actual Price")
plt.ylabel("Predicted Price")
plt.title("Actual Price vs Predicted Price using Randon Forest Regressor")
plt.show()

In [ ]:
import pickle
pickle.dump(rf_reg,open('rfr.pkl','wb'))
model=pickle.load(open('rfr.pkl','rb'))

In [ ]:
#Decision Tree Regression
from sklearn.tree import DecisionTreeRegressor
regressor = DecisionTreeRegressor(random_state = 0)
regressor.fit(X_train, y_train)
y_pred = regressor.predict(X_test)
print("Accuracy on Traing set: ",regressor.score(X_train,y_train))
print("Accuracy on Testing set: ",regressor.score(X_test,y_test))
print("Accuracy :",regressor.score(X_test,y_test)*100,'%')

In [ ]:
#Visualising the Decision Tree Regression results
plt.scatter(y_test, y_pred)
plt.xlabel("Actual Price")
plt.ylabel("Predicted Price")
plt.title("Actual Price vs Predicted Price using Decisoin Tree Regressor")
plt.show()

In [ ]:
import pickle
pickle.dump(regressor,open('dtr.pkl','wb'))
model=pickle.load(open('dtr.pkl','rb'))

In [ ]:
Testvals = test
Testvals['Fuel_Electric'] = 0
Testvals = Testvals[train.columns]
Testvals.columns
tst = Testvals
tst

In [ ]:
import pickle
sm = pickle.dumps(rf_reg)
rfm = pickle.loads(sm)
rfm1 = rfm.predict(tst)

In [ ]:
rfm2 = pd.DataFrame(rfm1)
rfm2